* {
  font-family: "Cabin", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  min-height: 100px;
}

ul {
  list-style-type: none;
}

#header ul li a {
  font-size: 18px;
  font-weight: 300;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
}
#header ul li a:active {
  color: aqua !important;
}
#header .mr-40 {
  margin-left: 100px;
}
#header .me-30 {
  margin-right: 60px;
}

.bg-gray {
  background-color: #F7F8F9 !important;
}

#home {
  width: 100%;
  margin-bottom: 50px;
}
#home .pad-30-40 {
  padding: 30px 40px;
}
#home h1 {
  color: #071e55;
  line-height: 1.1em;
  font-size: 42px;
}
#home p {
  margin-bottom: 36px;
  max-width: 600px;
  font-size: 19px;
  line-height: 30px;
  font-weight: 400;
  color: #405263;
}
#home .galochka {
  color: #2db92d;
}
#home ul li {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #405263;
}
#home .pad-top {
  padding-top: 50px !important;
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .wrapper {
    padding: 0 100px;
  }

  .mr-40 {
    margin-left: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 989.9px) {
  .wrapper {
    padding: 0 80px;
  }

  .mr-40 {
    margin-left: 40px;
  }
}
@media screen and (min-width: 468px) and (max-width: 767.9px) {
  .wrapper {
    padding: 0 20px;
  }

  .mr-40 {
    margin-left: 20px;
  }

  .me-30 {
    margin-right: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 467.9px) {
  .wrapper {
    padding: 0 10px;
  }

  .mr-40 {
    margin-left: 10px;
  }

  .me-30 {
    margin-right: 10px;
  }
}
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

.display {
  display: none !important;
}

#bg, #bg1 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.centerFath {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border-bottom: 3px solid #3b3be4 !important;
}

#about h3 {
  font-size: 19px;
  margin-bottom: 5px;
}
#about .iconka {
  font-size: 64px;
  align-self: flex-start !important;
  font-weight: 300;
  transition: all 0.2s;
}
#about .card {
  transition: all 0.2s;
}
#about .card:hover .iconka {
  transform: scale(1.1) translateY(5px);
}

#video p, #about p {
  color: grey;
  font-size: 16px;
  line-height: 28px;
}

#video {
  background-color: #FAFBFC;
}
#video .editor #youtube {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#video .card {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#video .card .circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 42px;
  cursor: pointer;
}
#video .card .circle i {
  transform: translateX(-2px);
}
#video button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
}

#showcase {
  position: relative;
}
#showcase .fixsed-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}
#showcase .card {
  overflow: hidden;
}
#showcase .card .img-box {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}
#showcase .card .img-box .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#showcase .card .card-body {
  padding: 5px;
}
#showcase .card .card-body h3 {
  font-size: 19px;
}
#showcase .card .card-body p {
  margin: 0 !important;
  font-style: italic;
}
#showcase .card:hover .hover {
  opacity: 0.7;
}
#showcase .indificator {
  background-color: transparent !important;
  bottom: -50px;
}
#showcase .indificator li {
  height: 10px !important;
  border: none !important;
  border-radius: 10px !important;
}
#showcase .carousel-indicators {
  background-color: rgba(50, 50, 93, 0.25);
}

.TEAM {
  background-color: #FAFBFC !important;
  font-family: "Cabin", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Montserrat", sans-serif;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
.team h1 {
  font-size: 35px;
  color: #071E55;
  font-weight: 600;
}
.team .text {
  max-width: 750px;
}
.team p {
  color: #7C8595;
  font-size: 17px;
  text-align: center;
  flex-wrap: wrap;
}
.team .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}
.team .col-12 img {
  margin-top: 20px;
  max-width: 200px;
  border-radius: 50%;
  border: 10px solid white;
}
.team .col-12 h2 {
  font-size: 18px;
  font-weight: 600;
  color: #454B4B;
}
.team .col-12 span {
  color: #c2c0c0;
}
.team .col-12 .chiziqcha {
  width: 50px;
  height: 3px;
  background-color: #347afc;
  margin: 20px 0px;
}
.team .col-12 .icon {
  font-size: 16px;
  border-radius: 50%;
  color: white;
  margin-right: 7px;
}
.team .col-12 .icon1 {
  background-color: #4099FF;
  padding: 10px 11px;
}
.team .col-12 .icon2 {
  background-color: #C92228;
  padding: 10px 13px;
}
.team .col-12 .icon3 {
  background-color: #3B5998;
  padding: 10px 13px;
}
.team .col-12 .icon4 {
  background-color: #EA4C89;
  padding: 10px 11px;
}

.TEAM2 {
  background-color: white !important;
  font-family: "Cabin", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Montserrat", sans-serif;
}
.TEAM2 .team2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
}
.TEAM2 .team2 .comp-get-user {
  border-radius: 10px;
  max-width: 850px;
  width: 100%;
  border: none;
}
.TEAM2 .team2 .col-2 {
  margin-top: 50px !important;
}
.TEAM2 .team2 .col-2 a {
  font-size: 40px;
  color: white;
  background-color: #017DF7;
  padding: 15px;
  border-radius: 50%;
}
.TEAM2 .team2 .col-10 h3 {
  font-size: 22px;
  font-weight: 600;
  color: #071E55;
  margin-top: 40px;
}

.cards div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards div h4 {
  font-size: 20px;
  color: #071E55;
  font-weight: 600;
}
.cards div .imageslar {
  width: 55px;
  margin: 40px 10px 10px 10px;
}

#blog .title {
  text-align: center;
  margin-bottom: 4rem;
}
#blog .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
#blog .container .card {
  border-bottom: 2px solid blue;
}

.img-box {
  background-image: url("https://demo.epic-webdesign.com/tf-nexus/v4/images/blog3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box i {
  opacity: 0;
  font-size: 50px;
}

.img2 {
  background-image: url("https://demo.epic-webdesign.com/tf-nexus/v4/images/blog2.jpg");
}

.img3 {
  background-image: url("https://demo.epic-webdesign.com/tf-nexus/v4/images/blog1.jpg");
}

.img-box:hover {
  opacity: 1;
  background-color: black !important;
}
.img-box:hover i {
  opacity: 1;
  color: white;
}

.calendar {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
}
#contact .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 600px;
  margin: 0;
}
#contact .container .btn {
  padding: 16px 24px;
}
#contact .container .mb-3 input, #contact .container .mb-3 textarea {
  width: 500px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
}
footer .container .color-white {
  color: white;
}
footer .container .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
footer .container .card-footer .foot-email {
  text-decoration: underline;
}
footer .container .card-footer i {
  font-size: 40px;
}
footer .container .card-footer .icons1 i {
  font-size: 20px;
}
footer .container .card-footer a {
  text-decoration: none;
  color: black;
}
footer .container .card-footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
