
.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
    min-height:100px;

}
ul{
    list-style-type: none;
}
#header{

    
// .global{
//     display: flex;
//     justify-content: space-between !important;
//     align-items: center;
// }
ul{
    li{
        a{
            font-size: 18px;
            font-weight: 300;
            font-family: 'Cabin', sans-serif;
            font-weight: bold;
        }
    }
    li a:active{
        color: aqua !important;
    }
}
.mr-40{
    margin-left: 100px;
}
.me-30{
    margin-right: 60px;
}

}
.bg-gray{
    background-color: #F7F8F9 !important;
}

#home{
    width: 100%;
    min-height: calc(100vh - 150px);
    .pad-30-40{
        padding: 30px 40px;
    
    }
    h1{
        color: #071e55;
        line-height: 1.1em;
        font-size: 42px;
    }
    p{
        margin-bottom: 36px;
            max-width: 600px;
            font-size: 19px;
            line-height: 30px;
            font-weight: 400;
            color: #405263;
    }
    .galochka{
        color: rgb(45, 185, 45);
    }
    ul li{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
        color: #405263;
    }
    .pad-top{
        padding-top: 50px !important;
    }
    

    // .box-shad{
    //     -webkit-box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
    //     -moz-box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
    //     box-shadow: 11px 11px 8px 0px rgba(34, 60, 80, 0.2);
    // }

}

@media screen and (min-width: 990px) and (max-width: 1200px) {
    .wrapper{
        padding: 0 100px;
    }
    .mr-40{
        margin-left: 80px;
    }
}
@media screen and (min-width: 768px) and (max-width: 989.9px) {
    .wrapper{
        padding:0 80px;
    }
    .mr-40{
        margin-left: 40px;
    }
  
}
@media screen and (min-width: 468px) and (max-width: 767.9px) {
    .wrapper{
        padding: 0 20px;
    }
    .mr-40{
        margin-left: 20px;
    }
    .me-30{
        margin-right: 10px;
    }
    
    
}
@media screen and (min-width: 0px) and (max-width: 467.9px) {
    .wrapper{
        padding: 0 10px;
    }
    .mr-40{
        margin-left: 10px;
    }
  
    .me-30{
        margin-right: 10px;
    }
    
}