*{
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
.display{
    display: none !important;
}
#bg, #bg1{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .7);
    z-index: 9;
}
.centerFath{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border{
    border-bottom: 3px solid rgb(59, 59, 228) !important;
}

#about{
    h3{
        font-size: 19px;
        margin-bottom: 5px;
    }
    .iconka{
        font-size: 64px;
        align-self: flex-start !important;
        font-weight: 300;
        transition: all .2s;
    }
    .card{
        transition: all .2s;
        &:hover{
            .iconka{
                transform: scale(1.1) translateY(5px);
            }
        }
    }
}

#video, #about{
    p{
        color: grey;
        font-size: 16px;
        line-height: 28px;
    }

}

#video{
    background-color: #FAFBFC;
    .editor{
        #youtube{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
    }
    .card{
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        .circle{
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #fff;
            font-size: 42px;
            cursor: pointer;
            i{
                transform: translateX(-2px);
            }
        }
    }
    button{
        box-shadow: 0 10px 20px rgba($color: #000000, $alpha: .2);
        font-size: 16px;
        font-weight: bold;
    }
}
#showcase{
    position: relative;
    .fixsed-carousel{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 10;
    }
    .card{
        overflow: hidden;
        .img-box{
            overflow: hidden;
            padding: 0;
            margin: 0;
            position: relative;
            .hover{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #000;
                opacity: 0;
                font-size: 32px;
                cursor: pointer;
                transition: all .3s ease-in-out;
            }
        }
        .card-body{
            padding: 5px;
            h3{
                font-size: 19px;
            }
            p{
                margin: 0 !important;
                font-style: italic;
            }
        }
        &:hover{
            .hover{
                opacity: .7;
            }
        }
    }
    .indificator{
        background-color: transparent !important;
        bottom: -50px;
        li{
            height: 10px !important;
            border: none !important;
            border-radius: 10px !important;
        }
    } 
    
    .carousel-indicators{background-color: rgba(50, 50, 93, 0.25);}
}